.leaflet-container {
  height: 400px;
  width: 90%;
}

.LVL_1 {
  background-color: #bedbab;
}

.LVL_2 {
  background-color: #f8ec9e;
}

.LVL_3 {
  background-color: #a096e0;
}
.LVL_4 {
  background-color: #f7b9b7;
}
.LVL_5 {
  background-color: red;
}
